.arena {
  /* 🦊 Active Flexbox sur l'arena. */
  /* Aligne les items au centre sur l'axe vertical. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.item--special {
  /* 🦊 Donne un alignement différent à cet item. */
  align-self: end;
}

/* 🟢 Auto-évaluation */
/* 1) Un seul item a-t-il un alignement différent ? */
/* 2) Ai-je utilisé align-items ET align-self ? */
/* 3) Est-ce toujours correct en responsive ? */
